html{
    margin: 0;
    padding: 0;
}
.bgimage{
    background-image:url('../src//backgroundimg.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}
@media(max-width: 600px) {
    .bgimage{
      background-image: none;
    }
  }
